<div class="hero-item" [class.hero-villain]="isHeroVillain()">
  <div class="image">
    <img [src]="hero().image" alt="Hero">
  </div>
  <div class="details">
    <div class="hero-name">
      {{ hero().name }}
      <span *ngIf="isHeroVillain(); else heroIcon">
        🦹
      </span>
      <ng-template #heroIcon>
        🦸
      </ng-template>
    </div>
    <div 
      *ngFor="let powerstat of (hero().powerstats | keyvalue); trackBy: trackByKey" 
      class="hero-powerstats">
      <span>{{ powerstat.key | titlecase }}: {{ powerstat.value }}</span>
      <div class="hero-powerstats-buttons">
        <button [disabled]="powerstat.value === 0" (click)="decrementPowerStats(powerstat.key)">-</button>
        <button [disabled]="powerstat.value === 100" (click)="incrementPowerStats(powerstat.key)">+</button>
      </div>
    </div>
    <hr class="m-4 border-amber-600">
    <span class="btn btn-gray mr-2 text-xl" [routerLink]="['/hero', 'update', hero().id]">
      Update
    </span>
    <span class="btn btn-blue mr-2 text-xl" [routerLink]="['/hero', hero().id]">
      View
    </span>
    <span class="btn btn-red mr-2 text-xl" (click)="remove(hero())">
      Delete
    </span>
  </div>
</div>
